body{
   max-width: 1200px;
   margin:auto;
   background-image:url("images/1.jpg");
   background-repeat: no-repeat; 
   background-size: calc(1500px);
   color: ivory;
}
h1{
    color:blue;
    text-align: center;
}
footer{
    background-color: black;
    text-align: center;
}

a:link{
    color: black;
}

a:visited{
    color: black;
}
a:hover{
    color: black;
}

a:active{
    color: black;
}
